# World Top CS Universities [2021]

## Import Modules

In [27]:
import csv
import os

from collections import defaultdict
from dataclasses import dataclass
from itertools import islice
from statistics import mean

from normalize import alt2main, main2id
from ranking_scraper.ranking_scraper.settings import ranking as r

## Define Model

In [28]:
@dataclass
class Uni:
    """Represent university."""
    name: str
    rank: int

## Load Rankings

In [29]:
def format(rank: str) -> int:
    """Format rank as an integer."""
    if rank.startswith("="):
        return int(rank[1:])
    if rank.endswith("+"):
        return int(rank[:-1])
    if "–" in rank:
        return mean([int(val) for val in rank.split("–")])
    if "-" in rank:
        return mean([int(val) for val in rank.split("-")])
    return int(rank)

def normalize(name: str) -> str:
    """Normalize university names."""
    if name.startswith("The "):
        name = name[4:]
    if name in alt2main:
        return alt2main[name]
    return name

def load_ranking(path: str, delimiter: str = None, limit: int = None) -> list[Uni]:
    """Load ranking."""
    with open(path) as file:
        reader = csv.reader(file, delimiter=delimiter)
        next(reader)  # Skip header row
        return [Uni(normalize(name), format(rank)) for name, rank in islice(reader, limit)]

# Load universities
base = "ranking_scraper/ranking_scraper"
ranking_the = load_ranking(f"{base}/data/input/{r['subject']}_{r['year']}/the.csv", ",", 100)
ranking_qs = load_ranking(f"{base}/data/input/{r['subject']}_{r['year']}/qs.csv", ",", 100)
ranking_arwu = load_ranking(f"{base}/data/input/{r['subject']}_{r['year']}/arwu.csv", ",", 100)

## Preview Rankings

In [30]:
def preview_ranking(ranking: list[Uni], limit: int = 10) -> None:
    """Preview ranking."""
    # Print first universities in ranking
    for i in range(limit):
        uni = ranking[i]
        print(f"{uni.name}\t{uni.rank}")
    print("...")
    # Print last universities in ranking
    for i in range(len(ranking) - limit, len(ranking)):
        uni = ranking[i]
        print(f"{uni.name}\t{uni.rank}")
    print(
        f"-----------------------------\n"
        f"Length: {len(ranking)}"
    )

In [31]:
preview_ranking(ranking_the)

University of California, Berkeley	1
California Institute of Technology (Caltech)	2
Princeton University	2
Massachusetts Institute of Technology (MIT)	4
Stanford University	4
Harvard University	6
University of Cambridge	7
University of Oxford	8
ETH Zurich	9
Yale University	10
...
University of Zurich	90
Sapienza University of Rome	92
Free University of Berlin	93
King's College London	94
University of Bern	95
Lomonosov Moscow State University	95
Université Grenoble Alpes	97
University of Copenhagen	98
Durham University	99
KU Leuven	100
-----------------------------
Length: 100

In [32]:
preview_ranking(ranking_qs)

Massachusetts Institute of Technology (MIT)	1
Stanford University	2
Harvard University	3
University of Cambridge	4
University of Oxford	5
University of California, Berkeley	6
Princeton University	7
ETH Zurich	8
National University of Singapore (NUS)	9
University of California, Los Angeles (UCLA)	10
...
Pennsylvania State University	90
Moscow Institute of Physics and Technology (MIPT)	92
RWTH Aachen University	92
University of Queensland	92
HSE University	95
University of Bonn	96
Universidade de São Paulo	96
Ohio State University	98
University of Bath	99
University of Copenhagen	100
-----------------------------
Length: 100

In [33]:
preview_ranking(ranking_arwu)

Paris-Saclay University	1
Princeton University	2
Sorbonne University	3
University of Cambridge	4
University of Oxford	5
Stanford University	6
Massachusetts Institute of Technology (MIT)	7
New York University (NYU)	8
ETH Zurich	9
University of Texas at Austin	10
...
University of Florida	88
University of Granada	88
University of Pavia	88
University of Rennes 1	88
University of Roma - Tor Vergata	88
University of Virginia	88
University of Warsaw	88
University Paris Est Creteil	88
Wuhan University	88
Autonomous University of Madrid	125.5
-----------------------------
Length: 100

## Clean Rankings

Sometimes universities have different names in different rankings. For example, one ranking might use universities' full names while another might prefer acronyms. This might cause duplicates down the line.

To avoid this issue, let's save all university names sorted alphabetically and try to spot duplicates. They typically appear next to each other, since they differ only slightly. Once we spot a duplicate, we pick the preferred name and add it to `normalize.py` as well as its alt-names, and we repeat this process until no duplicates are left.

In [34]:
unis_qs = {uni.name for uni in ranking_qs}
unis_the = {uni.name for uni in ranking_the}
unis_arwu = {uni.name for uni in ranking_arwu}

unis_all = unis_qs | unis_the | unis_arwu

with open(f"{base}/data/output/universities_sorted.tsv", "w") as file:
    for uni in sorted(unis_all):
        file.write(f"{uni}\n")
    file.write(f"Length: {len(unis_all)}")

## Combine Rankings

In [35]:
rankings = [ranking_qs, ranking_the, ranking_arwu]

uni_ranks = defaultdict(list)
for ranking in rankings:
    for uni in ranking:
        uni_ranks[uni.name].append(uni.rank)

uni_ranks = dict(uni_ranks)

In [36]:
# Fill missing ranks
for _, ranks in uni_ranks.items():
    while len(ranks) < 3:
            ranks.append(101) # Best possible rank when not in top-100

In [37]:
# Average ranks
ranking_all = [Uni(name, mean(ranks)) for name, ranks in uni_ranks.items()]

## Save Final Ranking

In [38]:
def save_ranking(ranking: list[Uni], limit: int = None) -> None:
    """Save ranking to file and preview it."""
    ranking_sorted = [uni for uni in sorted(ranking_all, key=lambda uni: uni.rank)]
    filepath = f"{base}/data/output/{r['subject']}_{r['year']}_combined.tsv"
    os.makedirs(os.path.dirname(filepath), exist_ok=True)
    with open(filepath, "w") as file:
        for i, uni in enumerate(ranking_sorted, start=1):
            row = f"{i}\t{uni.name}\t{uni.rank:.2f}"
            file.write(f"{row}\n")
            print(row)  # Preview
            if i == limit:
                break

save_ranking(ranking_all, 60)

1	Princeton University	3.67
2	Massachusetts Institute of Technology (MIT)	4.00
3	Stanford University	4.00
4	University of Cambridge	5.00
5	University of Oxford	6.00
6	University of California, Berkeley	6.33
7	Harvard University	8.33
8	ETH Zurich	8.67
9	University of California, Los Angeles (UCLA)	11.67
10	Imperial College London	13.67
11	Paris Sciences et Lettres (PSL University)	15.33
12	University of Chicago	16.00
13	Columbia University	18.00
14	California Institute of Technology (Caltech)	18.33
15	University of Toronto	22.33
16	Peking University	24.33
17	University of Michigan-Ann Arbor	24.33
18	University of Texas at Austin	24.33
19	New York University (NYU)	24.67
20	Sorbonne University	26.33
21	National University of Singapore (NUS)	29.33
22	Swiss Federal Institute of Technology Lausanne (EPFL)	30.00
23	Yale University	31.33
24	Georgia Institute of Technology (Georgia Tech)	32.00
25	Tsinghua University	33.00
26	University of Wisconsin–Madison	34.33
27	University of British Columbia	37.00
28	University of Illinois at Urbana-Champaign	38.67
29	University of Edinburgh	39.00
30	University of Tokyo	39.33
31	Fudan University	40.33
32	University of Washington	40.33
33	Paris-Saclay University	42.67
34	University College London (UCL)	43.33
35	Kyoto University	45.00
36	Cornell University	46.00
37	University of California, San Diego (UCSD)	46.00
38	Northwestern University	46.33
39	University of Warwick	46.67
40	Technical University of Munich	47.33
41	Brown University	48.00
42	University of Maryland, College Park	52.67
43	University of Paris	55.33
44	Nanyang Technological University (NTU)	55.67
45	University of Pennsylvania	55.67
46	University of Bonn	57.00
47	Carnegie Mellon University	60.33
48	KTH Royal Institute of Technology	60.33
49	University of Science and Technology of China	60.33
50	McGill University	61.33
51	Australian National University	64.67
52	Hong Kong University of Science and Technology	65.00
53	University of Hong Kong	69.00
54	Duke University	69.00
55	Johns Hopkins University	69.00
56	University of Melbourne	69.67
57	University of Manchester	69.67
58	Humboldt University of Berlin	69.67
59	Shanghai Jiao Tong University	71.00
60	Chinese University of Hong Kong (CUHK)	72.00

## Get IDs (Helper)

In [39]:
def get_ids(ranking: list[Uni], limit: int = None) -> list[int]:
    ranking_sorted = [uni for uni in sorted(ranking_all, key=lambda uni: uni.rank)]
    ranking_sorted_ids = []
    unis_without_id = []
    for uni in ranking_sorted[:limit]:
        if uni.name in main2id:
            ranking_sorted_ids.append(main2id[uni.name])
        else:
            unis_without_id.append(uni.name)
    # print("Ranked unis ids:", ranking_sorted_ids)
    print("Unis without id:", unis_without_id)
    return ranking_sorted_ids

top_60_math = get_ids(ranking_all, 60)
print("$top60math = ", top_60_math)

Unis without id: ['University of Bonn', 'Humboldt University of Berlin']
$top60math =  [6, 39, 1, 978, 1092, 3, 38, 288, 692, 1043, 888, 119, 33, 11, 8, 159, 2, 86, 483, 355, 72, 16, 99, 12, 168, 56, 4, 17, 14, 69, 322, 15, 794, 384, 266, 225, 49, 62, 187, 74, 29, 22, 1248, 170, 5, 40, 976, 930, 268, 292, 31, 405, 7, 9, 24, 227, 238, 48]