# World Top Universities 2023

In this Jupyter Notebook, we're going to combine the rankings we scraped into one.

## Define Settings

In [1]:
year = 2023
subject = "cs"

## Import Modules

In [2]:
import json

from collections import defaultdict
from dataclasses import dataclass
from itertools import islice
from normalize import alt2main, uni2id
from statistics import mean

## Define Data Model

In [3]:
@dataclass
class Uni:
    """Represent a university."""
    name: str
    rank: int

## Load Scraped Rankings

In [4]:
def load_ranking(path: str, limit: int = None) -> None:
    """Load ranking."""
    with open(path) as file:
        return [Uni(**json.loads(line)) for line in islice(file, limit)]

base = "./scraper/data_scraped"
qs = load_ranking(f"{base}/qs.jsonl", 100)
the = load_ranking(f"{base}/the.jsonl", 100)
arwu = load_ranking(f"{base}/arwu.jsonl", 100)

## Preview Scraped Rankings

In [5]:
def preview_ranking(ranking: list[Uni], limit: int = None) -> None:
    """Preview ranking."""
    for uni in islice(ranking, limit):
        print(f"{uni.name}\t{uni.rank}")
    print("...")
    for uni in islice(ranking, len(ranking) - (limit if limit else 0), len(ranking)):
        print(f"{uni.name}\t{uni.rank}")

In [6]:
preview_ranking(qs, 10)

Massachusetts Institute of Technology (MIT)	1
Carnegie Mellon University	2
Stanford University	3
University of California, Berkeley (UCB)	4
University of Oxford	5
National University of Singapore (NUS)	6
University of Cambridge	7
Harvard University	8
ETH Zurich	9
EPFL	10
...
Ludwig-Maximilians-Universität München	91
Trinity College Dublin, The University of Dublin	92
University of Wisconsin-Madison	93
Indian Institute of Technology Kharagpur (IIT-KGP)	94
Huazhong University of Science and Technology	95
Indian Institute of Technology Kanpur (IITK)	96
University of California, Irvine	97
Boston University	98
IMT Atlantique	99
Xi’an Jiaotong University	100

In [7]:
preview_ranking(the, 10)

University of Oxford	1
Massachusetts Institute of Technology	2
Stanford University	3
ETH Zurich	4
Carnegie Mellon University	5
University of Cambridge	6
National University of Singapore	7
University of California, Berkeley	8
Harvard University	9
Technical University of Munich	10
...
University of California, Davis	91
Purdue University West Lafayette	91
TU Wien	93
University of North Carolina at Chapel Hill	94
Qatar University	95
Virginia Polytechnic Institute and State University	95
University of Warsaw	95
Northwestern University	98
University of Bonn	99
Lomonosov Moscow State University	100

In [8]:
preview_ranking(arwu)

Massachusetts Institute of Technology (MIT)	1
Stanford University	2
University of California, Berkeley	3
Carnegie Mellon University	4
Tsinghua University	5
Harvard University	6
ETH Zurich	7
Nanyang Technological University	8
University of Oxford	9
Princeton University	10
Columbia University	11
University of Electronic Science and Technology of China	12
National University of Singapore	13
University of California, Los Angeles	14
University of Toronto	15
Shanghai Jiao Tong University	16
University of Technology Sydney	17
Zhejiang University	18
Peking University	19
The Chinese University of Hong Kong	20
Huazhong University of Science and Technology	21
Cornell University	22
Beihang University	23
Harbin Institute of Technology	24
University of Southern California	25
Georgia Institute of Technology	26
Xidian University	26
New York University	28
University of Sydney	29
University of Oslo	30
The University of Edinburgh	31
University of Science and Technology of China	32
University of Montreal	33
City University of Hong Kong	34
The University of Texas at Austin	35
University College London	36
University of Washington	37
Imperial College London	38
Sun Yat-sen University	39
Southeast University	40
Tianjin University	41
Northwestern Polytechnical University	42
University of North Carolina at Chapel Hill	43
The Hong Kong Polytechnic University	44
Beijing University of Posts and Telecommunications	45
Wuhan University	46
The Hong Kong University of Science and Technology	47
Dalian University of Technology	48
University of Michigan-Ann Arbor	49
The University of Adelaide	50
Aalto University	51
Beijing Institute of Technology	51
Central South University	51
Johns Hopkins University	51
King Abdulaziz University	51
Nanjing University	51
Nanjing University of Science and Technology	51
National University of Defense Technology	51
Northeastern University (Shenyang)	51
Paris-Saclay University	51
Shenzhen University	51
South China University of Technology	51
Swiss Federal Institute of Technology Lausanne	51
Technical University of Munich	51
The University of New South Wales	51
University of Alberta	51
University of British Columbia	51
University of California, San Diego	51
University of Cambridge	51
University of Copenhagen	51
University of Illinois at Urbana-Champaign	51
University of Maryland, College Park	51
University of Waterloo	51
Weizmann Institute of Science	51
Xi'an Jiaotong University	51
Arizona State University	76
Deakin University	76
Griffith University	76
Guangdong University of Technology	76
King Saud University	76
Korea Advanced Institute of Science and Technology	76
Michigan State University	76
Monash University	76
Nanjing University of Information Science & Technology	76
Purdue University - West Lafayette	76
Rutgers, The State University of New Jersey - New Brunswick	76
Sichuan University	76
Singapore University of Technology & Design	76
Swinburne University of Technology	76
Technical University of Denmark	76
The Australian National University	76
The University of Hong Kong	76
The University of Melbourne	76
Tongji University	76
Université Grenoble Alpes	76
University of Macau	76
University of Pennsylvania	76
University of Surrey	76
Virginia Polytechnic Institute and State University	76
Xiamen University	76
...

## Clean Rankings

In [9]:
def normalize(ranking: list[Uni], normalizer: dict[str, str]):
    """Normalize university names."""
    for uni in ranking:
        uni.name = normalizer.get(uni.name, uni.name)

normalize(qs, alt2main)        
normalize(the, alt2main)
normalize(arwu, alt2main)

{u.name for u in qs} | {u.name for u in the} | {u.name for u in arwu}

{'Aalto University',
 'Arizona State University',
 'Australian National University',
 'Beihang University',
 'Beijing Institute of Technology',
 'Beijing University of Posts and Telecommunications',
 'Boston University',
 'Brown University',
 'California Institute of Technology (Caltech)',
 'Carnegie Mellon University (CMU)',
 'Central South University',
 'Chinese University of Hong Kong (CUHK)',
 'City University of Hong Kong',
 'Columbia University',
 'Cornell University',
 'Dalian University of Technology',
 'Deakin University',
 'Delft University of Technology',
 'Duke University',
 'ETH Zurich',
 'Eindhoven University of Technology',
 'Fudan University',
 'Georgia Institute of Technology (Georgia Tech)',
 'Griffith University',
 'Guangdong University of Technology',
 'Harbin Institute of Technology',
 'Harvard University',
 'Hong Kong Polytechnic University',
 'Huazhong University of Science and Technology',
 'IMT Atlantique',
 'ITMO University',
 'Imperial College London',
 'Indian Institute of Technology Bombay (IITB)',
 'Indian Institute of Technology Delhi (IITD)',
 'Indian Institute of Technology Kanpur (IITK)',
 'Indian Institute of Technology Kharagpur (IIT-KGP)',
 'Institut Polytechnique de Paris',
 'Johns Hopkins University',
 'KTH Royal Institute of Technology',
 'KU Leuven',
 'Karlsruhe Institute of Technology (KIT)',
 'King Abdulaziz University (KAU)',
 'King Saud University',
 "King's College London",
 'Korea Advanced Institute of Science and Technology (KAIST)',
 'Korea University',
 'Kyoto University',
 'Lomonosov Moscow State University',
 'Ludwig Maximilian University of Munich (LMU)',
 'Massachusetts Institute of Technology (MIT)',
 'McGill University',
 'Michigan State University',
 'Monash University',
 'Nanjing University',
 'Nanjing University of Information Science & Technology',
 'Nanjing University of Science and Technology',
 'Nanyang Technological University (NTU)',
 'National Taiwan University (NTU)',
 'National University of Defense Technology',
 'National University of Singapore (NUS)',
 'New York University (NYU)',
 'Northeastern University (Shenyang)',
 'Northwestern Polytechnical University',
 'Northwestern University',
 'Paris Sciences et Lettres (PSL University)',
 'Paris-Saclay University',
 'Peking University',
 'Pennsylvania State University',
 'Pohang University of Science And Technology (POSTECH)',
 'Politecnico di Milano',
 'Polytechnic University of Catalonia (BarcelonaTech)',
 'Princeton University',
 'Purdue University',
 'Qatar University',
 'Queen Mary University of London',
 'RWTH Aachen University',
 'Rutgers University',
 'Sapienza University of Rome',
 'Seoul National University',
 'Shanghai Jiao Tong University',
 'Shenzhen University',
 'Sichuan University',
 'Singapore University of Technology & Design',
 'Sorbonne University',
 'South China University of Technology',
 'Southeast University',
 'Stanford University',
 'Sun Yat-sen University',
 'Swinburne University of Technology',
 'Swiss Federal Institute of Technology Lausanne (EPFL)',
 'TU Wien',
 'Technical University of Berlin',
 'Technical University of Darmstadt',
 'Technical University of Denmark',
 'Technical University of Munich',
 'Tecnológico de Monterrey',
 'The Australian National University',
 'The Chinese University of Hong Kong',
 'The Hong Kong Polytechnic University',
 'The Hong Kong University of Science and Technology',
 'The University of Adelaide',
 'The University of Texas at Austin',
 'Tianjin University',
 'Tongji University',
 'Trinity College Dublin',
 'Tsinghua University',
 'Universidade de São Paulo',
 'Universiti Malaya (UM)',
 'University College London (UCL)',
 'University of Adelaide',
 'University of Alberta',
 'University of Amsterdam',
 'University of Bologna',
 'University of Bonn',
 'University of British Columbia',
 'University of California, Berkeley',
 'University of California, Davis',
 'University of California, Irvine',
 'University of California, Los Angeles (UCLA)',
 'University of California, San Diego (UCSD)',
 'University of California, Santa Barbara',
 'University of Cambridge',
 'University of Chicago',
 'University of Copenhagen',
 'University of Edinburgh',
 'University of Electronic Science and Technology of China',
 'University of Freiburg',
 'University of Hong Kong',
 'University of Illinois at Urbana-Champaign',
 'University of Macau',
 'University of Manchester',
 'University of Maryland',
 'University of Massachusetts (UMass)',
 'University of Melbourne',
 'University of Michigan-Ann Arbor',
 'University of Montreal',
 'University of New South Wales (UNSW Sydney)',
 'University of North Carolina at Chapel Hill',
 'University of Oslo',
 'University of Oxford',
 'University of Pennsylvania',
 'University of Science and Technology of China',
 'University of Southern California',
 'University of Surrey',
 'University of Sydney',
 'University of Technology Sydney',
 'University of Texas at Austin',
 'University of Tokyo',
 'University of Toronto',
 'University of Warsaw',
 'University of Warwick',
 'University of Washington',
 'University of Waterloo',
 'University of Wisconsin–Madison',
 'Université Grenoble Alpes',
 'Virginia Polytechnic Institute and State University',
 'Weizmann Institute of Science',
 'Wuhan University',
 "Xi'an Jiaotong University",
 'Xiamen University',
 'Xidian University',
 'Xi’an Jiaotong University',
 'Yale University',
 'Yonsei University',
 'Zhejiang University'}

## Combine Rankings

In [10]:
uni2ranks = defaultdict(list)
for ranking in [qs, the, arwu]:
    for uni in ranking:
        uni2ranks[uni.name].append(uni.rank)

uni2ranks = dict(uni2ranks)

In [11]:
for _, ranks in uni2ranks.items():
    while len(ranks) < 3:
        ranks.append(101)  # Best possible rank when not in top 100
uni2ranks["University of Alberta"]

[51, 101, 101]

In [12]:
combined_ranking = [Uni(uni, mean(ranks)) for uni, ranks in uni2ranks.items()]
combined_ranking.sort(key=lambda uni: uni.rank)  # Smaller to larger rank

## Save Combined Ranking

In [15]:
def save_ranking(ranking: list[Uni], limit: int = None) -> None:
    """Save ranking to file."""
    with open(f"combined_ranking_{subject}_{year}.tsv", "w") as file:
        for i, uni in enumerate(ranking, start=1):
            row = f"{i}\t{uni.name}\t{uni.rank:.2f}\n"
            print(row)  # Preview
            file.write(row)            
            if i == limit:
                break

save_ranking(combined_ranking, 10)

1	Massachusetts Institute of Technology (MIT)	1.33

2	Stanford University	2.67

3	Carnegie Mellon University (CMU)	3.67

4	University of California, Berkeley	5.00

5	University of Oxford	5.00

6	ETH Zurich	6.67

7	Harvard University	7.67

8	National University of Singapore (NUS)	8.67

9	Nanyang Technological University (NTU)	11.00

10	Princeton University	11.33

## Get IDs

In [14]:
def get_ids(unis: list[str], uni2id: dict[str, str], limit: int = None) -> list[int]:
    """Return IDs corresponding to universities."""
    ids = []
    no_id = []
    for uni in unis:
        if uni in uni2id:
            ids.append(uni2id[uni])
        else:
            no_id.append(uni)
        if len(ids) == limit:
            return ids, no_id

ids, no_id = get_ids([uni.name for uni in combined_ranking], uni2id=uni2id, limit=60)

print(f"Unis without id: {no_id}")
print()
print(f"$top_unis_cs_2023 ={ids}")

Unis without id: ['University of Southern California']

$top_unis_cs_2023 =[39, 1, 40, 3, 1092, 288, 38, 72, 170, 6, 168, 8, 225, 33, 692, 159, 978, 1043, 15, 238, 12, 14, 483, 16, 384, 74, 17, 2027, 1458, 2444, 31, 4, 49, 2, 399, 977, 9, 5, 22, 11, 918, 794, 813, 24, 86, 99, 2244, 233, 327, 888, 930, 268, 48, 119, 69, 632, 405, 117, 98, 350]